@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&family=Rajdhani&display=swap');

:root {
  font-family: 'Plus Jakarta Sans', 'Plus Jakarta Sans Fallback', Helvetica, Arial, sans-serif !important;
}


body{
  font-family: 'Plus Jakarta Sans', 'Plus Jakarta Sans Fallback', Helvetica, Arial, sans-serif !important;
}


#myChart{
  height: calc(100vh - 350px ) !important;
  margin: auto;
}

.tableclass{
  height: calc(100vh - 315px);
}